/**
 * Progress component styles
 */

.ui-progress {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #e5e7eb;
  border-radius: 9999px;
  height: 8px;
}

.ui-progress-indicator {
  height: 100%;
  width: 100%;
  flex: 1;
  background-color: #111827;
  transition: width 0.3s ease;
  border-radius: 9999px;
}
