/**
 * Separator component styles
 */

.ui-separator {
  flex-shrink: 0;
  background-color: #e5e7eb;
}

.ui-separator-horizontal {
  height: 1px;
  width: 100%;
}

.ui-separator-vertical {
  width: 1px;
  height: 100%;
}
